@import '~politico-style/scss/base/main.scss';

.component :global {

  .bar-container {
    background-color: $button;
    height: 12px;
    position: relative;
    width: 79%;
  }

  div.bar {
    background-color: $negative;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
  }
}
