@import '~politico-style/scss/base/main.scss';
@import 'Theme/mixins.scss';

.component :global {
  background-color: rgb(255, 249, 248);
  border-top: 1px solid #eee;
  padding: 32px 40px 48px;
  margin: 24px auto;
  position: relative;
  z-index: 2;
  table {
    max-width: 600px;
    margin: 0px auto;
    @media screen and (max-width: 600px){
      max-width: 96%;
    }
    th {
      @include color;
      line-height: 1.05;
      padding: 5px 10px;
      text-align: center;
      font-size: 1rem;
      font-weight: normal;
      @media screen and (max-width: 600px) {
        font-size: .6rem;
        padding: 2px 2px;
      }
      text-align: left;
    }
    td {
      padding: 5px 10px;
      border-bottom: 1px solid $button;
      font-size: 1.8rem;
      @media screen and (max-width: 600px) {
        padding: 4px 4px;
        font-size: .8rem;
      }
      &.country {
        line-height: 1.2;
        text-align: left;
        font-weight: bold;
        @media screen and (max-width: 600px) {
          width: 80px;
        }
      }
      &.new-case {
        text-align: center;
        width: 25%;
        font-size: 1.1rem;
        font-weight: 300;
      }
      &.counter {
        text-align: center;
        width: 25%;
        color: $no;
      }
      &.bars {
        width: 25%;
        position: relative;
      }
    }
  }
}
