@import '~politico-style/scss/base/main.scss';
@import 'Theme/mixins.scss';

.component :global {
  table {
    max-width: 800px;
    margin: 40px auto;
    @media screen and (max-width: 800px){
      max-width: 96%;
    }
    th {
      line-height: 1.05;
      padding: 5px 10px;
      text-align: center;
      font-size: 1rem;
      font-weight: normal;
      @media screen and (max-width: 600px) {
        font-size: .7rem;
        padding: 2px 2px;
      }
      &.country {
        text-align: left;
      }
    }
    td {
      padding: 8px 10px;
      border-bottom: 1px solid $button;
      font-size: 1.3rem;
      width: 20%;
      @media screen and (max-width: 600px) {
        padding: 4px 4px;
        font-size: .9rem;
        width: 25%;
      }
      &.country {
        line-height: 1.2;
        text-align: left;
        font-weight: bold;
      }
      &.double {
        text-align: center;
        font-size: 1.1rem;
        font-weight: 300;
        @media screen and (max-width: 600px) {
          line-height: 1.2;
          font-size: .9rem;
        }
      }
      &.spread {
        text-align: center;
        font-size: 1.1rem;
        font-weight: 300;
        @media screen and (max-width: 600px) {
          line-height: 1.2;
          font-size: .7rem;
        }
      }
      &.histogram {
        padding-bottom: 0;
      }

    }
  }
}
