@import '~politico-style/scss/base/main.scss';
@import 'Theme/mixins.scss';

.component :global {
  margin-bottom: 40px;
  display: block;
  table {
    max-width: 800px;
    margin: 40px auto;
    @media screen and (max-width: 1000px){
      max-width: 96%;
    }
    tr {
      display: table-row;
    }

    tr.hidden {
      display: none;
    }

    th {
      @include color;
      line-height: 1.05;
      padding: 5px 10px;
      text-align: center;
      font-size: 1rem;
      font-weight: normal;
      @media screen and (max-width: 600px) {
        font-size: .6rem;
        padding: 2px 2px;
      }
      &.country {
        text-align: left;
      }
      &.counter {
        text-align: center;
        //width: 50px;
      }
    }
    td {
      padding: 5px 10px;
      border-bottom: 1px solid $button;
      font-size: 1.3rem;
      @media screen and (max-width: 600px) {
        padding: 4px 4px;
        font-size: .8rem;
      }
      &.country {
        //width: 120px;
        line-height: 1.2;
        text-align: left;
        font-weight: bold;
        font-size: 1.2rem;
        @media screen and (max-width: 600px) {
          width: 80px;
        }
      }
      &.people {
        text-align: center;
        width: 150px;
        font-size: 1.1rem;
        font-weight: 500;
      }
      &.new-case {
        text-align: center;
        width: 150px;
        font-size: 1.1rem;
        font-weight: 500;
      }
      &.counter {
        text-align: center;
        width: 150px;
        font-size: 1.1rem;
        font-weight: 500;
        color: $no;
      }
      &.bars {
        width: 150px;
        position: relative;
      }
    }
  }

  button.tableToggle {
    background-color: white;
    color: #666;
    display: block;
    border: 1px solid #666;
    border-radius: 30px;
    width: 160px;
    text-align: center;
    padding: 10px 7px;
    margin: 24px auto 10px;
  }
}
