@import '~@politico/interactive-style/theme.scss';
@import 'Theme/mixins.scss';

div.share {
  margin-bottom: 5px;
  a {
    color: black;
    background-color: white !important;
    svg {
      fill: black;
    }
  }
}

p.category {
  font-size: .9rem;
  letter-spacing: 2px;
  margin-bottom: 0;
  a {
    color: $politico-red;
  }
}

div.headline {
  max-width: 700px;
  margin: 0 auto;
}

p.dek {
  line-height: 1.2;
  font-family: $din;
  margin-top: 4px;
  @media screen and (max-width: 600px){
      margin-top: 8px;
      padding-left: 5px;
      padding-right: 5px;
  }
}

.info p {
  max-width: 750px;
  color: $satan;
  font-family: $din;
  font-variant-ligatures: none;
  line-height: 1.27rem;
  margin: .80rem auto 1rem;
  font-size: 1em;

  a {
    color: $satan;
  }
}

h3.main-sub {
  margin: 40px auto 4px;
  text-align: center;
  font-size: 1.6rem;
  padding-left: 16px;
  padding-right: 16px;
  @media screen and (max-width: 600px){
    margin-bottom: 0;
  }
}

p.main-dek {
  text-align: center;
  font-family: $din;
  line-height: 1.2;
}


div.methodology {
  margin-top: 40px;
  //padding-top: 20px;
  p {
    font-family: $din;
    font-size: .9rem;
    line-height: 1.3;
  }
}

 p {
   @media screen and (max-width: 600px){
     padding: 0px 10px;
   }
 }

 div.map-key {
  display: flex;
  max-width: 600px;
  margin: 0 auto;
  justify: space-between;
  @media screen and (max-width: 600px){
    width: 100%;
    margin-bottom: 16px;
    justify: center;
  }
  p {
    font-family: $din;
    font-size: .9rem;
    margin-bottom: 0;
    line-height: 1.2;
    @media screen and (max-width: 600px){
      margin-top: 0;
      margin-bottom: 8px;
    }
    span {
      display: inline-block;
      width: 10px;
      height: 10px;
      margin-right: 4px;
      border-radius: 10px;
      @include background-color;
    }
  }

}

@keyframes progressBar {
  from {
    width: 0%;
  }
  to {
    width: 80%;
  }
}
