@import '~politico-style/scss/base/main.scss';

.component :global {
  h5 {
    text-align: center;
    margin: 40px auto 16px;
  }
  div.pack-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: 0 auto;
    @media screen and (max-width: 800px){
      width: 100%;
    }
    div.pack {
      margin: 0px 24px 16px;
    }
    h4 {
      font-weight: bold;
      font-size: 1rem;
      text-align: center;
      margin: 8px auto 16px;
    }
    div.labels {
      position: relative;
      height: 20px;
    }
    p.label {
      margin: 0;
      font-family: $din;
      font-size: .7rem;
      position: absolute;
      &.last {
        right: 0;
      }
    }
  }
}
