@import "~@politico/interactive-style/vars.scss";
$Biden: #329CAC;
$Sanders: #F68A41;

.styles :global {
  font-weight: normal;
  pointer-events: none;
  font-family: $din;
  transition: all .2s;
  z-index: 900;
  background: white !important;
  border-radius: 2px;
  box-shadow: 4px 4px 7px -2px rgba(0,0,0,.3);
  padding: 13px;
  width: 240px;
  border-left: 1px solid #f4f4f4;
  border-top: 1px solid #f4f4f4;
  h3 {
    font-size: 1.1rem;
  }
  table {
    margin-top: 8px;
    width: 100%;
    td {
      line-height: 1.3;
      &.metric-nb {
        text-align: right;
      }
    }
  }
}
