@import '~politico-style/scss/base/main.scss';
@import 'Theme/mixins.scss';

.component :global {
  table {
    max-width: 1000px;
    margin: 40px auto;
    @media screen and (max-width: 1000px){
      max-width: 96%;
    }
    th {
      @include color;
      line-height: 1.05;
      padding: 2px 8px;
      text-align: right;
      font-size: .8rem;
      @media screen and (max-width: 600px) {
        font-size: .6rem;
        padding: 2px 2px;
      }
      &.occupation {
        text-align: left;
      }
    }
    td {
      padding: 4px 8px;
      border-bottom: 1px solid $button;
      font-size: .9rem;
      @media screen and (max-width: 600px) {
        padding: 4px 4px;
        font-size: .8rem;
      }
      &.occupation {
        width: 200px;
        line-height: 1.2;
      }
      &.income {
        text-align: right;
      }
      &.proximity {
        text-align: center;
      }
      &.population {
        text-align: right;
      }
      &.bars {
        width: 400px;
        position: relative;
        @media screen and (max-width: 600px) {
          width: 210px;
        }
        @media screen and (max-width: 450px) {
          width: 180px;
        }
        @media screen and (max-width: 350px) {
          width: 140px;
        }
          .bar {
            height: 12px;
            position: absolute;
            top: calc(50% - 6px);
            left: 8px;
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
            @include background-color;
          }

      }
    }
  }

}
