@import '~politico-style/scss/base/main.scss';

.component :global {
  width: 150px;
  height: 40px;
  margin: 0 auto;
  @media screen and (max-width: 600px){
    width: 120px;
    height: 30px;
  }
  div.bar-container {
    float: left;
    position: relative;
    height: 40px;
    @media screen and (max-width: 600px){
      height: 30px;
    }
    div.bar {
      position: absolute;
      bottom: 0;
      width: 100%;
      &.false {
        background-color: $no;
      }
      &.true {
        background-color: $yes;
      }
    }
  }
}
