@import '~politico-style/scss/base/main.scss';

.component :global {
  width: 150px;
  height: 40px;
  margin: 0 auto;
  position: relative;
  @media screen and (max-width: 600px){
    width: 120px;
    height: 30px;
  }
  p.peak-nb {
    position: absolute;
    font-family: $din;
    margin: 0;
    font-size: .7rem;
    top: -3px;
    color: $satan;
    background-color: white;
    padding: 0;
  }
  div.bar-container {
    float: left;
    position: relative;
    height: 35px;
    margin-top: 5px;
    @media screen and (max-width: 600px){
      height: 30px;
    }
    div.bar {
      position: absolute;
      bottom: 0;
      width: 100%;
      &.false {
        background-color: $no;
      }
      &.true {
        background-color: $yes;
      }
    }
  }
}
